/* Angel Plloca */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
html{
    height: 100%;
}
body {
    background-image: url(../images/darkstarsky.jpg);
    font-family: "Oxanium", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
}
p,h1,h2{
    color:aliceblue;
}
a{
    cursor: pointer;
    color: aliceblue;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px 0;  
    border-bottom: 3px solid rgb(85, 208, 239); 
    justify-content: flex-start;
    box-shadow: 0 0 10px rgba(85, 208, 239, 0.7);
}
#top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    width: 100%;
    flex-grow: 1;
}
#top-logo{
    width: 150px;
    height: 150px;
    margin: 0;
    margin-left: 10px;
    padding-right: 5px;
}
#site-title{
    width: 700px;
    height: auto;
}
img {
    overflow-y: content-box;
    overflow: clip;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    margin-right: 10px;
    margin-left: 10px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    display:inline-block;
    font-size: 20px;
    transition: all ease-in 0.2s;
    padding: 20px 0 20px 0;
    text-decoration: none;
}
nav ul .dropdown-menu{
    position: absolute;
    width: 100px;
    list-style: none;
    opacity: 0;
    background-color: rgb(45, 43, 43);
    text-align: center;
    z-index: -1;
    margin-top: -60px;
    display: block;
    transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
    border-radius: 15px;
}
nav ul .dropdown-menu li{
    margin: 0;
    width: 100%;
} 
nav ul .dropdown-menu li a{
    padding: 10px 2px;
    display: inline-block;
    width: 100%;
}
nav ul li a:hover{
    color: rgb(85, 208, 239);
}
nav ul li:hover > .dropdown-menu{
   opacity: 1;
   margin-top: 0;
   z-index: 2;
}
.broken-message{
    display: none;
    position: absolute;
    background-color: rgba(45, 43, 43, 0.9);
    color: aliceblue;
    left: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    white-space: nowrap;
    z-index: 15;
    margin-top: 5px;
    margin-left: 5px;
    transform: translateY(-50%);
}
.broken-link{
    position: relative;
}
#page-main{
    display: flex;
    justify-content: baseline;
}
aside {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    width: 15%;
    min-height: 1200px;
    background-image: url(../images/design3.png);
    background-position: center;
    background-size: auto;
    background-repeat: repeat-y;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: solid rgb(85, 208, 239) 3px;
    border-radius: 25px;
}
.ads:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.ads{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 0px;
    padding-left: 10px;
    max-width: 255px;
}
#left-side{
    display: flex;
    flex-direction: column;
    order: 1;
    right: 0;
    align-self: center;
}
#main-section{
    display: flex;
    flex-direction: column;
    order: 2;
    width: auto;
    background-color: inherit;
    padding: 20px;
    max-width: 1200px;
    min-height: 1200px;
    color: aliceblue;
    left: 0;
}
#venus-box{
    display: flex;
    margin: 20px 0;
}
#venus-box2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.intro{
    display: block;
    list-style-type: disc;
    width: 55%;
    background-color: rgba(85, 208, 239, 0.1);
    border: 2px solid rgb(85, 208, 239);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-right: 30px;
    height: 86%;
    line-height: 26px;
}
.upcoming{
    display: flex;
    list-style-type: disc;
    width: auto;
    align-items: center;
    background-color: rgba(85, 208, 239, 0.1);
    border: 2px solid rgb(85, 208, 239);
    padding: 15px;
    padding-top: 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-right: 30px;
    line-height: 26px;
}
#probe{
    position: relative;
    padding: 5px;
    margin-top: 10px;
}
#View-3D{
    display: flex;
    margin-top: 20px;
    flex-grow: 1;
}
#instructions{
    display: block;
    list-style-type: disc;
    width: auto;
    background-color: rgba(85, 208, 239, 0.1);
    border: 2px solid rgb(85, 208, 239);
    padding: 15px;
    padding-top: 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-right: 30px;
    margin-bottom: 30px;
    max-height: 200px;
    line-height: 26px;
    text-align: left;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 10px;
    font-size: 26px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition:all ease-in 0.2s;
    width: 500px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    top: 2%;
    border: solid rgb(85, 208, 239) 2px;
    background-color: rgba(85, 208, 239, 0.1);
}
#button:hover{
    color: rgb(85, 208, 239);
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(85, 208, 239, 0.7);
}
.foot-img{
    width: auto;
    height: 50px;
    cursor: pointer;
}
